

.viewotherstart {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.viewotherstart .alex {
  background-color    : rgba(255,255,255,0.0);
  top                 : 508px;
  height              : 76px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .alex .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 76px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .alex .graphicsdivider375px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : 1px;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .alex .graphicsdivider375px .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1px;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .alex .graphicsdivider375px .rectangle {
  background-color    : rgba(188, 187, 193, 1.0);
  top                 : 1px;
  height              : 1px;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .alex .date {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 26px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(180deg);
  opacity             : 1.0;
}
.viewotherstart .alex .date .arrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 18px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .alex .date .arrow .arrowright {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .alex .alex1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : auto;
  width               : 176px;
  position            : absolute;
  margin              : 0;
  left                : 83px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.41px;
  line-height         : 22.0px;
}
.viewotherstart .alex .userpic {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 54px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .alex .userpic .userpic1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .alex .a1of3completed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 108px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.41px;
  line-height         : 16.0px;
}
.viewotherstart .cooper {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 333px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : 76px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .graphicsdivider375px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 198px;
  height              : 1px;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .graphicsdivider375px .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1px;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .graphicsdivider375px .rectangle {
  background-color    : rgba(188, 187, 193, 1.0);
  top                 : 1px;
  height              : 1px;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .date {
  background-color    : rgba(255,255,255,0.0);
  top                 : 145px;
  height              : 26px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 341px;
  transform           : rotate(90deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .date .arrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 18px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .date .arrow .arrowright {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .cooper1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 129px;
  height              : auto;
  width               : 176px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.41px;
  line-height         : 22.0px;
}
.viewotherstart .cooper .userpic {
  background-color    : rgba(255,255,255,0.0);
  top                 : 130px;
  height              : 54px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .userpic .userpic1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .a2of3completed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 158px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 109px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.41px;
  line-height         : 16.0px;
}
.viewotherstart .cooper .chore1copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 280px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore1copy .barstoolbarstatus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 198px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore1copy .barstoolbarstatus .bar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore1copy .barstoolbarstatus .dishes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.viewotherstart .cooper .chore1copy .graphicsbaseiconsactiveblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 208px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore1copy .graphicsbaseiconsactiveblue .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore1copy .graphicsbaseiconsactiveblue .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore1copy .graphicsbaseiconsactiveblue .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore1copy .graphicsbaseiconsactivebluecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 254px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore1copy .graphicsbaseiconsactivebluecopy .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore1copy .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 243px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore2copy .barstoolbarstatus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 377px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore2copy .barstoolbarstatus .bar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore2copy .barstoolbarstatus .walkthedog {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 101px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.viewotherstart .cooper .chore2copy .barstoolbarstatus .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore2copy .barstoolbarstatus .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 287px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore3copy .barstoolbarstatus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore3copy .barstoolbarstatus .bar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore3copy .barstoolbarstatus .cleanthebathroom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.viewotherstart .cooper .chore3copy .graphicsbaseiconsactiveblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore3copy .graphicsbaseiconsactiveblue .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore3copy .nudgecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 20px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore3copy .nudgecopy2 .button {
  background-color    : rgba(255, 45, 85, 1.0);
  top                 : 0px;
  height              : 20px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .cooper .chore3copy .nudgecopy2 .add {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : auto;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.21px;
  line-height         : 12.0px;
}
.viewotherstart .a1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : 210px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 76px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .graphicsdivider375px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : 1px;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .graphicsdivider375px .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1px;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .graphicsdivider375px .rectangle {
  background-color    : rgba(188, 187, 193, 1.0);
  top                 : 1px;
  height              : 1px;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .date {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 26px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 341px;
  transform           : rotate(90deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .date .arrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 18px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .date .arrow .arrowright {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .mychores {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : auto;
  width               : 176px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.41px;
  line-height         : 22.0px;
}
.viewotherstart .a1 .userpic {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 49px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .userpic .userpic1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 49px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .a3of3completed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.41px;
  line-height         : 16.0px;
}
.viewotherstart .a1 .chore1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore1 .barstoolbarstatus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore1 .barstoolbarstatus .bar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore1 .barstoolbarstatus .sweepkitchen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.viewotherstart .a1 .chore1 .graphicsbaseiconsactiveblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore1 .graphicsbaseiconsactiveblue .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore1 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore2 .barstoolbarstatus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore2 .barstoolbarstatus .bar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore2 .barstoolbarstatus .vaccumlivingroom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.viewotherstart .a1 .chore2 .graphicsbaseiconsactiveblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore2 .graphicsbaseiconsactiveblue .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore2 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore3 .barstoolbarstatus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore3 .barstoolbarstatus .bar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore3 .barstoolbarstatus .recyling {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.viewotherstart .a1 .chore3 .graphicsbaseiconsactiveblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore3 .graphicsbaseiconsactiveblue .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .a1 .chore3 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarstopbarslightlargetopbarwithsearch {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarstopbarslightlargetopbarwithsearch .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarstopbarslightlargetopbarwithsearch .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : 299px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.41px;
  line-height         : 41.0px;
}
.viewotherstart .uibarstopbarslightlargetopbarwithsearch .right {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 35px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 299px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarstopbarslightlargetopbarwithsearch .right .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 76px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarstopbarslightlargetopbarwithsearch .left {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 44px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 303px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarstopbarslightlargetopbarwithsearch .left .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 44px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarstopbarslightlargetopbarwithsearch .left .option {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 122, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.41px;
  line-height         : 22.0px;
}
.viewotherstart .bottomtabs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 592px;
  height              : 74px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .bar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 74px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .settings {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 62px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 277px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .settings .settings1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : -0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(142, 142, 147, 1.0);
  text-align          : center;
  letter-spacing      : 0.12px;
  line-height         : 23.0px;
}
.viewotherstart .bottomtabs .settings .settingsicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .misc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 67px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 170px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .misc .misc1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : -0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(142, 142, 147, 1.0);
  text-align          : center;
  letter-spacing      : 0.12px;
  line-height         : 10.0px;
}
.viewotherstart .bottomtabs .misc .misc1 .span1 {
  line-height         : 23.0px;
}
.viewotherstart .bottomtabs .misc .misc1 .span2 {
  font-size           : 10.0px;
  line-height         : 12.0px;
}
.viewotherstart .bottomtabs .misc .miscicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .misc .miscicon .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  box-sizing          : border-box;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .misc .miscicon .rectangle1 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 4px;
  height              : 4px;
  box-sizing          : border-box;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .misc .miscicon .rectangle2 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 13px;
  height              : 4px;
  box-sizing          : border-box;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .misc .miscicon .rectangle3 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 8px;
  height              : 4px;
  box-sizing          : border-box;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .homesym {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 58px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .homesym .rectangle {
  background-color    : rgba(0, 117, 255, 1.0);
  top                 : 13px;
  height              : 17px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .homesym .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 13px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .homesym .homeicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 23px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .homesym .homeicon .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : -0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 118, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.12px;
  line-height         : 23.0px;
}
.viewotherstart .bottomtabs .iphonexhomeindicatorhomeindicatoronlight {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 30px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .iphonexhomeindicatorhomeindicatoronlight .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .bottomtabs .iphonexhomeindicatorhomeindicatoronlight .rectangle24 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 16px;
  height              : 5px;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 101px;
  border-radius       : 2px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarsstatusbarsblackbase {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarsstatusbarsblackbase .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarsstatusbarsblackbase .gs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.viewotherstart .uibarsstatusbarsblackbase .battery {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 15px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 310px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarsstatusbarsblackbase .battery .a100 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : right;
  line-height         : 14.0px;
}
.viewotherstart .uibarsstatusbarsblackbase .battery .battery1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 11px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarsstatusbarsblackbase .battery .battery1 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 11px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.viewotherstart .uibarsstatusbarsblackbase .battery .battery1 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 4px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarsstatusbarsblackbase .battery .battery1 .rectangle1 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 2px;
  height              : 7px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  border-radius       : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarsstatusbarsblackbase .time {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 14.0px;
}
.viewotherstart .uibarsstatusbarsblackbase .wifi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 9px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .uibarsstatusbarsblackbase .mobilesignal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 10px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 23px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 308px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 466px;
  height              : 40px;
  width               : 179px;
  position            : absolute;
  margin              : 0;
  left                : 95px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .hotspot2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 473px;
  height              : 23px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 321px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .hotspot3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 320px;
  height              : 23px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 334px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .hotspot4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 584px;
  height              : 83px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 271px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.viewotherstart .hotspot5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 584px;
  height              : 83px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 161px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}